{%extends './main.html' %}
{%include './navbar.html' %}
{%include './footer.html' %}
{% load static %}

{% block content %}

<style>
    img {
        max-width: 300px;
        max-height: 400px;
    }
</style>
<h1>Cryptids</h1>
<ul>
    <li>
        Nuckelavee
    </li>
    <img src="{% static 'polls/Nuckelavee.jpg' %}">
    <li>
        Barghest
    </li>
    <img src="{% static 'polls/Barghest.jpg' %}">
    <li>
       Red Cap 
    </li>
    <img src="{% static 'polls/Red_Cap.jpg' %}">
    <li>
        Kelpie
    </li>
    <img src="{% static 'polls/Kelpie.jpg' %}">
    <li>
        FIVE
    </li>
    <img src="{% static 'polls/Kelpie.jpg' %}">
</ul>


{% endblock %}
