{% extends 'main.html' %}
{% include './navbar.html' %}
{% include './footer.html' %}

{% block content %}

<h1>The Cage List</h1>
<h2>List of the Discovered Cryptids!</h2>

<div class="listingContent">
    <ul class="cryptidList">
        {% for cryptid in cryptids %}
            <li><a href="{% url 'cryptid' cryptid.id %}">{{ cryptid.name }}</a></li>
        {% endfor %}
    </ul>
</div>


<style>
    body{
        background: url(../static/polls/bg1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        color:whitesmoke;
    }
    h1 {
        text-align: center;
        text-shadow: -1px -1px 0 whitesmoke, 1px -1px 0 whitesmoke, -1px 1px 0 whitesmoke, 1px 1px 0 whitesmoke;
    }
    h1, h2{
        text-align: center;
    }
    .listingContent{
        justify-content: center;
    }
    .cryptidList{
        padding-top: 5%;
        display: grid;
        justify-content: center;
        grid-gap: 5%;
        grid-template-columns: repeat(2, 40%);
    }
    .cryptidList > li{
        text-align: center;
        list-style-type: none;
        font-size: 3vh;
        background-color: rgb(52, 58, 64);
        border-radius: 25px;
        padding: 5%;
    } 
    .cryptidList a{
        color: white;
        text-align: center;
    }
</style>

{% endblock %}

