{% extends 'main.html' %}
{% include './navbar.html' %}
{% include './footer.html' %}
{% load static %} 

{% block css %}
<link rel="stylesheet" href="{% static 'css/all_cryptids_here.css'%}">
{% endblock %}
{% block content %}

<h1>The Cage List</h1>
<h2>List of the Discovered Cryptids!</h2>

<ul class="cryptidList">
    {% for cryptid in cryptids %}
        <li><a href="{% url 'cryptid' cryptid.id %}">{{ cryptid.name }}</a></li>
    {% endfor %}
</ul>

<style>
    body{
        background: url(../static/polls/bg1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        color:whitesmoke;
    }
    /* h1, h2{
        text-align: center;
    }
    .cryptidList > li{
        list-style-type: decimal;
        font-size: 3vh;
    }  */
</style>
<h1 class="allTest">HELLO</h1>
{% endblock %}

