{% extends 'main.html' %}
{% load static %}
{% include './navbar.html' %}
{% include './footer.html' %}

{% block content %}
    <div class = "homepage">
        {% block icon %}<img src="{% static 'polls/Cryptid.jpg' %}" class="logo"> {% endblock %}
       <p class="welcome">Welcome!</p>
       <p class="description">Here you will find all you need to know about your favourite Cryptids!</p> 
       <p class="description">Discover the names, information, dates last seen and locations!</p>
       
       
    </div>


{% endblock %}
